.button {
  background-color: var(--background-accent-lighter);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  cursor: pointer;
  opacity: 0.8;
  border: 1px solid var(--background-accent-darker);
}

.button img {
  width: 50%;
}

.button:hover {
  /* background-color: #cacacd; */
  opacity: 1;
  box-shadow: -1px -1px 30px 2px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: -1px -1px 30px 2px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: -1px -1px 30px 2px rgba(0, 0, 0, 0.64);
}

.button:active {
  transform: scale(0.9);
}

.fileInput {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
}
