.button {
  background-color: #f5f6fa;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  cursor: pointer;
}

.button img {
  width: 50%;
}

.button:hover {
  background-color: #cacacd;
}

.button:active {
  transform: scale(0.9);
}

.fileInput {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
}
